@use "../../styles/typography" as *;
@use "../../styles/button" as *;
@use "../../styles/shadows" as *;

.new-phone-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  overflow: hidden;

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--grey-900);
    opacity: 0.8;
    animation: modal-mobile-show-modal 0.5s ease-in-out;
  }

  .container {
    background-color: var(--white);
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    animation: modal-mobile-show-container 0.5s ease-out;
    z-index: 20;
    overflow-y: scroll;
    max-height: 80vh;
    max-height: 80dvh;

    margin-inline: 0;
    transition: all 0.5s ease-in-out;

    .header {
      padding: 1.5rem;
      border-bottom: 1px solid var(--grey-200);
      h3 {
        color: var(--grey-800);
        @include text("lg", $weight: 500);
      }
      .details {
        color: var(--grey-500);
      }
    }
    .body {
      color: var(--grey-800);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .radio-group-os,
      .radio-group-features {
        p.label {
          @include text("sm", $weight: 500);
          color: var(--grey-700);
          margin-bottom: 0.5rem;
        }
        .radios {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          label {
            padding: 1rem 1.5rem;
            border: 1px solid var(--grey-200);
            display: flex;
            justify-content: space-between;
            border-radius: 8px;
            p {
              display: flex;
              gap: 0.75rem;
              align-items: center;
              i {
                font-size: 1.25rem;
                color: var(--grey-500);
              }
            }
            @include shadow("xs");
          }

          input:checked + label {
            background-color: var(--blue-50);
            color: var(--blue-800);
            border: 1px solid var(--blue-300);
            p {
              font-weight: 500;
            }
            i {
              color: var(--blue-800);
            }
          }

          input {
            display: none;
          }
        }
      }

      .radio-group-os {
        .radios {
          label {
            flex-basis: calc(100% / 3 - (1rem / 3) * 2);
          }
        }
      }
      .radio-group-features {
        .radios {
          flex-wrap: wrap;
          label {
            flex-basis: 1;
          }
        }
      }
      .radio-group-full{
        width: 100%;
        .radios li{
          flex: 1;
          label{
            justify-content: center;
          }
        }
      }
      .actions {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 1rem;
        gap: 1rem;
        .next {
          @include button("md", $color: "blue", $style: "solid");
        }
        .prev {
          @include button("md", $color: "grey", $style: "outline");
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .new-phone-modal {
    .container {
      background-color: var(--white);
      width: clamp(40%, 50%, 50%);
      z-index: 20;

      margin-inline: 3rem;
      overflow-y: hidden;

      .body {
        .radio-group-os,
        .radio-group-features {
          .radios {
            flex-direction: row;
          }
        }
      }
    }
  }
}

@keyframes modal-mobile-show-container {
  from {
    transform: translateY(+100vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes modal-mobile-show-modal {
  from {
    opacity: 0;
    background-color: transparent;
  }
  to {
    opacity: 0.3;
    background-color: var(--grey-900);
  }
}
