@use "../../styles/typography" as *;

.authentication-container {
  margin-top: -87px;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: stretch;
  width: 100%;

  .page-content {
    padding: 1rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 60%;
    gap: 3rem;

    .form {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      h1 {
        @include title("sm", $weight: 500);
        color: var(--grey-700);
        max-width: 80%;
      }
    }
  }
  .image {
    flex-basis: 40%;
    position: relative;
    background-size: cover;
    min-height: 30vh;
    background-repeat: no-repeat;

    background-position: center;
    background-image: linear-gradient(
      135deg,
      var(--blue-700) 0%,
      var(--blue-950) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    color: #fff;
    img {
      max-width: 80%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .authentication-container {
    flex-direction: row;
    height: 100vh;
    height: 100dvh;

    .page-content {
      padding: 3rem;
    }
    .image {
      min-height: 100vh;
    }
  }
}
