@use "../../styles/typography" as *;

.brand-color {
  color: var(--grey-300);
  &-red {
    color: var(--red-500);
  }
  &-green {
    color: var(--green-500);
  }
  &-yellow {
    color: var(--yellow-500);
  }
}

// .checkbox-label {
//   display: grid;
//   grid-template-columns: 1em auto;
//   gap: 1em;
//   font-size: 1rem;
//   align-items: center;

//   input[type="checkbox"] {
//     -webkit-appearance: none;
//     appearance: none;
//     background-color: var(--white);
//     /* Not removed via appearance */
//     margin: 0;
//     font: inherit;
//     width: 1.15em;
//     height: 1.15em;
//     border: 0.1em solid var(--grey-300);
//     border-radius: 4px;
//     display: grid;
//     place-content: center;

//     &::before {
//       content: "";
//       width: 0.65em;
//       height: 0.65em;
//       border-radius: 4px;
//       scale: 0;
//       transition: 120ms transform ease-in-out;
//       //   box-shadow: inset 1em 1em var(--blue-500);
//     }

//     &.red::before {
//       //   box-shadow: inset 1em 1em var(--red-500);
//       //   transform-origin: bottom left;
//       //   clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
//       background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23EAB308' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
//         no-repeat;
//     }
//     &.yellow::before {
//       box-shadow: inset 1em 1em var(--yellow-500);
//       transform-origin: bottom left;
//       clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
//     }
//     &.green::before {
//       box-shadow: inset 1em 1em var(--green-500);
//       transform-origin: bottom left;
//       clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
//     }

//     &.red:checked {
//       border: 0.1em solid var(--red-300);
//     }
//     &.yellow:checked {
//       border: 0.1em solid var(--yellow-300);
//     }
//     &.green:checked {
//       border: 0.1em solid var(--green-500);
//     }
//   }

//   input[type="checkbox"]:checked::before {
//     scale: 1;
//   }
// }

.input-checkbox {
  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    cursor: pointer;
    @include text("sm");
    color: var(--grey-700);
    font-weight: 500;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .checkbox {
    background-color: var(--blue-100);
    border: 1px solid var(--blue-600);
    position: relative;
  }

  .checkbox {
    background-color: var(--white);
    border: 1px solid var(--grey-200);
    position: relative;
    cursor: pointer;
    transition: background 0.25s ease-out;
    &::before {
      content: "";
      position: absolute;
      transition: opacity 0.25s ease-out;
      opacity: 0;
    }
    &:hover {
      background-color: var(--blue-100);
      border: 1px solid var(--blue-200);
    }
  }

  &--sm {
    input[type="checkbox"]:checked + .checkbox::before {
      opacity: 1;
    }
    .checkbox {
      width: 16px;
      height: 16px;
      border-radius: 4px;

      &::before {
        width: 12px;
        height: 12px;
        top: 1px;
        left: 1px;
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23099250' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat;
      }
      &-red::before {
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23F43F5E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat;
      }
      &-yellow::before {
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23EAB308' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat;
      }
      &-green::before {
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%2322C55E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat;
      }
    }
  }
  &--md {
    input[type="checkbox"]:checked + .checkbox::before {
      opacity: 1;
    }
    .checkbox {
      width: 20px;
      height: 20px;
      border-radius: 6px;
      &::before {
        width: 14px;
        height: 14px;
        top: 2px;
        left: 2px;
        background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23099250' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
          no-repeat;
      }
    }
  }
}
