@use "../../styles/typography" as *;
.side-bar {
  width: 15rem;
  height: calc(100dvh - 87.5px);
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-right: 1px solid var(--grey-200);
  gap: 1.5rem;
  padding: 1.5rem;
  position: fixed;
  scroll-behavior: smooth;
  overflow-y: scroll;
  left: 0;
  z-index: 10;
  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0;
  }
  hr {
    width: 100%;
    border: 1px solid var(--grey-200);
  }
  .brand,
  .model,
  .state {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    .brand-color {
      color: var(--grey-300);
      &-red {
        color: var(--red-500);
      }
      &-green {
        color: var(--green-500);
      }
      &-yellow {
        color: var(--yellow-500);
      }
    }
    h3 {
      @include text("md", $weight: 600);
      color: var(--grey-700);
    }
    .brand-inputs,
    .model-inputs,
    .state-inputs {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
  .input-checkbox {
    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      gap: 12px;
      cursor: pointer;
      @include text("sm");
      color: var(--grey-500);
      font-weight: 500;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked + .checkbox {
      background-color: var(--blue-100);
      border: 1px solid var(--blue-600);
      position: relative;
    }

    .checkbox {
      background-color: var(--white);
      border: 1px solid var(--grey-200);
      position: relative;
      cursor: pointer;
      transition: background 0.25s ease-out;
      &::before {
        content: "";
        position: absolute;
        transition: opacity 0.25s ease-out;
        opacity: 0;
      }
      &:hover {
        background-color: var(--blue-100);
        border: 1px solid var(--blue-200);
      }
    }

    &--sm {
      input[type="checkbox"]:checked + .checkbox::before {
        opacity: 1;
      }
      .checkbox {
        width: 16px;
        height: 16px;
        border-radius: 4px;

        &::before {
          width: 12px;
          height: 12px;
          top: 1px;
          left: 1px;
          background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23099250' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            no-repeat;
        }
        &-red::before {
          background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23F43F5E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            no-repeat;
        }
        &-yellow::before {
          background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23EAB308' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            no-repeat;
        }
        &-green::before {
          background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%2322C55E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            no-repeat;
        }
      }
    }
    &--md {
      input[type="checkbox"]:checked + .checkbox::before {
        opacity: 1;
      }
      .checkbox {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        &::before {
          width: 14px;
          height: 14px;
          top: 2px;
          left: 2px;
          background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%23099250' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
            no-repeat;
        }
      }
    }
  }
}
