@use "../../styles/typography" as *;

body {
  padding-top: 87px;
}

#navbar {
  display: none;
}

#navbar-mobile {
  display: flex;
  flex-direction: column;
  background-color: var(--grey-900);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 6;
  .nav-filter {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    background-color: var(--grey-900);
    opacity: 0.8;
  }
  nav {
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid var(--grey-800);

    .logo {
      img {
        height: 60px;
      }
    }
    .burger {
      color: var(--white);
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 1.5rem;
    }
  }
  .items {
    z-index: 6;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    button {
      background-color: transparent;
      color: var(--white);
      border: none;
      @include text("md");
      padding: 8px 14px;
      gap: 8px;
    }
  }
}

@media only screen and (min-width: 768px) {
  #navbar-mobile {
    display: none;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-900);
    padding: 12px 32px;
    position: fixed;
    top: 0;
    width: 100vw;
    gap: clamp(1rem, 2rem, 2rem);

    z-index: 5;

    .logo {
      cursor: pointer;
      img {
        height: 60px;
      }
    }
    .items {
      display: flex;
      gap: clamp(1rem, 1.5rem, 1.5rem);
      //   gap: 1.5rem;
      //   flex-wrap: wrap;
      //   column-gap: 1.5rem;
      //   row-gap: 0.5rem;
      //   justify-content: flex-end;
      button {
        color: var(--grey-100);
      }
    }
  }
}
