@use "../../styles/button" as *;

.connection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .hide-or-show-button {
      background-color: transparent;
      border: none;
      font-size: 1rem;
      i:before {
        line-height: unset;
        display: inline-block;
        vertical-align: middle;
        color: var(--grey-500);
      }
    }

    .connection-button {
      @include button("lg", $color: "blue", $style: "solid");
      margin-top: 1rem;
      width: 100%;
    }
  }
  .fail-auth-modal {
    color: var(--error-600);
  }
}
