@use "../../styles/typography" as *;
@use "../../styles/button" as *;

.manage {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 2rem;
  // min-height: 100dvh;
  // margin-inline: 10%;

  table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-200);
    border-radius: 0.5rem;
    overflow: hidden;
    thead {
      text-transform: capitalize;
      tr {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        text-align: left;

        padding: 0.75rem 1.5rem;
        border-bottom: 1px solid var(--grey-200);
        color: var(--grey-600);
        @include text("xs", $weight: 500);
      }
    }
    tbody {
      display: flex;
      flex-direction: column;

      tr {
        display: grid;
        padding: 1rem 1.5rem;
        grid-template-columns: repeat(6, 1fr);
        text-align: left;

        align-items: center;
        border-bottom: 1px solid var(--grey-200);
        @include text("sm");
        color: var(--grey-600);
        &:last-child {
          border-bottom: none;
        }
        &:nth-child(odd) {
          background-color: var(--grey-50);
        }
        td.actions {
          display: flex;
          gap: 0.5rem;
        }
      }
    }
  }
}
